<!DOCTYPE html>
<html>
<head>
    <title>The Notes Page</title>
    <link rel='stylesheet' href='/stylesheets/notePageStyle.css' />
</head>

<body>

<form method="post">
    <p> Day :
        <select name="dayForTask">

            <!--TODO remember the last field: -->
            <% var weekDays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]%>
            <% for (var i = 0; i < weekDays.length; i++) { %>
                <option value=<%=i%> <% if (day == i) {%> selected="selected"<%}%>><%=weekDays[i]%></option>
            <% } %>
        </select>
    </p>

    <p> Time:
        <select name="time">
            <% var times = ["morning","midday","afternoon"];%>
            <%for (var i = 0; i < times.length; i++) {%>
            <option value=<%=i%> <% if (time == i) {%> selected="selected"<%}%>><%=times[i]%></option>
            <% } %>
        </select>
    </p>

    <div>
        <input type="text" name="plant" placeholder="Plant Name"
        <%if (invalidFieldName.length > 0) {%> value = "<%=plant%>" <%}%>>
    </div>

    <div>
        <input type="text" name="location" placeholder="location"
        <%if (invalidFieldName.length > 0) { %> value = "<%=location%>" <%}%>>
    </div>

    <div>
        <p> Task Specification:</p><textarea name="task" rows="15", cols = "60"><%if (invalidFieldName.length > 0) { %><%=task%><%}%></textarea>
    </div>


    <% if (invalidFieldName.length != 0) {%>
        <% if (invalidFieldName == "notes") { %>
        <p> Please Include Some Task Notes Before Emailing Clients.</p>
        <%} else {%>
        <p> Invalid <%=invalidFieldName%></p>
        <% }%>
    <%}%>

    <button formaction="/typeClientNotes/addTask">add</button>
</form>

<% if (plantNotes.length == 0){ %>
<p>No plant tasks have been added yet</p>
<%} else {%> <!-- TODO find a way to allow tasks to be deleted without changing this:-->
<textarea name="clientNotes" rows="15", cols = "60" readonly><%=plantNotes%></textarea>
<%}%>

<form method="post">
    <button formaction="/typeClientNotes/emailClients"> email clients</button>
</form>


</body>
</html>