<!DOCTYPE html>
<html>
<head>
    <title>The Notes Page</title>
    <link rel='stylesheet' href='/stylesheets/notePageStyle.css' />
</head>

<body>

<form method="post">
    <p> Day :
        <select name="dayForTask">

            <!--TODO remember the last field: -->
            <% var weekDays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]%>
            <% for (var i = 0; i < weekDays.length; i++) { %>
                <option value=<%=i%> <% if (day == i) {%> selected="selected"<%}%>><%=weekDays[i]%></option>
            <% } %>
           <!---->
            <!--<option value=0>Monday</option>-->
            <!--<option value=1>Tuesday</option>-->
            <!--<option value=2>Wednesday</option>-->
            <!--<option value=3>Thursday</option>-->
            <!--<option value=4>Friday</option>-->
            <!--<option value=5>Saturday</option>-->
            <!--<option value=6>Sunday</option>-->
        </select>
    </p>

    <p> Time:
        <select name="time">
            <% var times = ["morning","midday","afternoon"];%>
            <%for (var i = 0; i < times.length; i++) {%>
            <option value=<%=i%> <% if (time == i) {%> selected="selected"<%}%>><%=times[i]%></option>
            <% } %>
            <!--<option value=0>morning</option>-->
            <!--<option value=1>midday</option>-->
            <!--<option value=2>afternoon</option>-->
        </select>
    </p>

    <div>
        <input type="text" name="plant" placeholder="Plant Name">
    </div>

    <div>
        <input type="text" name="location" placeholder="location">
    </div>

    <div>
        <p> Task Specification:</p>
        <textarea name="task" rows="15", cols = "60"></textarea>
    </div>

    <% if (invalidFieldName.length != 0) {%>
        <p> Invalid <%=invalidFieldName%></p>
    <%}%>

    <button formaction="/typeClientNotes/addTask">add</button>
</form>

<% if (plantNotes.length == 0){ %>
<p>No plant tasks have been added yet</p>
<%} else {%>
<textarea name="clientNotes" rows="15", cols = "60"><%=plantNotes%></textarea>
<%}%>

</body>
</html>